@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-lg border border-slate-200 bg-white px-3 py-2 text-sm outline-none focus:border-brand-500;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-800 font-sans antialiased;
}

/* scrollbar discreta */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}
::-webkit-scrollbar-track {
  background: transparent;
}
